{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>title here</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body class="bg-light">
    <!-- Navbar -->
    <nav id="mainNavbar" class="navbar navbar-expand-md fixed-top">
        <!-- Container isi navbar -->
        <div class="container-fluid">
            <!-- Brand navbar -->
            <a class="navbar-brand" href="">halo</a>
            
            <!-- Toggler button -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Isi navbar -->
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!-- Rounded switch -->
                        <label>Dark Mode</label>
                        <label class="switch">
                            <input type="checkbox" name="darkmode-toggle">
                            <span class="slider round"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="apagitu">
        <div class="desc-container">
            <h3>My name is</h3>
            <h1>Doan Andreas Nathanael</h1>
        </div>
        <div class="accordion-container">
            <!-- kanan -->
            <div id="accordion">
                <h3>Aktivitas</h3>
                <div>
                    <ul>
                        <li>makan</li>
                        <li>tidur</li>
                        <li>pppppppp</li>
                    </ul>
                </div>
            
                <h3>Pengalaman</h3>
                <div>
                    <ul>
                        <li>Panitia Retreat SMAN 14 Jakarta 2017</li>
                        <li>Staf Biro Media BEM Fasilkom UI 2019</li>
                        <li>Staf HPK PMB 2019</li>
                        <li>Staf HPDK Retreat Keluarga Fasilkom UI 2019</li>
                        <li>PJ Desain, Dokumentasi, Dekorasi Pekan RISTEK 2019</li>
                    </ul>
                </div>
            
                <h3>Prestasi</h3>
                <div>
                    <ul>
                        <li>papapapap</li>
                        <li>ehehehehe</li>
                        <li>gaada cuy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>